{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-console": "warn",
    "max-len": ["error", { "code": 120, "ignoreUrls": true }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "function", "next": "function" }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "rules": {
        "max-len": ["error", { "code": 120, "ignoreUrls": true }],
        "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }]
      }
    }
  ]
}
