# User input
/resources/content_blocking/blocked_selectors/
!/resources/content_blocking/blocked_selectors/.gitkeep

# Project artifacts
/dist/
/node_modules/
/playground/dist/
/resources/content_blocking/selectors_tester.html
/resources/content_blocking/unique_filter_selectors.json

# Unwanted BrowserStack logs: https://github.com/karma-runner/karma-browserstack-launcher/issues/181
/browserstack.err
/local.log

# Random excess stuff
.DS_Store
.idea/
.vscode/
yarn-error.log
