.section--billing {
  background-image: url('../img/billing-background.svg');
  background-repeat: no-repeat;
  background-position: 110% 200%;

  @media screen and (max-width: 1024px) {
    background-position: 120% 80%;
    background-color: v('off-white');
  }

  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // @include gap(3rem);
    margin-bottom: 4rem;

    > * + * {
      @media screen and (min-width: 1025px) {
        margin-left: 3rem;
      }
    }

    > .btn {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  .section-link {
    text-align: center;
    margin-top: 5rem;

    @media screen and (min-width: 1023px) {
      display: none;
    }
  }

  .section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    // @include gap(3rem);

    > * + * {
      @media screen and (min-width: 1025px) {
        margin-left: 3rem;
      }
    }

    @media screen and (max-width: 1024px) {
      display: block;
      padding: 3rem;
      background-color: v('white');
      border-radius: 1rem;
    }
  }

  .identification-per-month {
    flex: 2;
    padding: 4rem;
    background-color: v('white');
    border-radius: 1rem;
    border: 2px solid adjust-color(c('off-white'), $lightness: -5%);

    @media screen and (max-width: 1024px) {
      padding: 0 0 5rem 0;
      background-color: transparent;
      border: none;
      margin-bottom: 5rem;
      border-radius: 0;
      border-bottom: 2px solid adjust-color(c('off-white'), $lightness: -5%);
    }

    > * + * {
      margin-top: 3rem;
    }

    &__title {
      font-family: v(ff-sans);
      font-weight: v('semi');
      font-size: 2rem;
    }

    &__footnote {
      font-size: 1.75rem;
      opacity: v('faded');
    }
  }

  .payment {
    flex: 1;
    padding: 3rem;
    background-color: v('white');
    border-radius: 1rem;
    box-shadow: 0 20px 50px 0 adjust-color(c('brand-water'), $alpha: -0.9);

    @media screen and (max-width: 1024px) {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
    }

    .price {
      font-weight: v('bold');
      font-size: 3rem;
    }

    .billed {
      margin-bottom: 4rem;
      opacity: v('faded');
    }

    &__description {
      opacity: v('faded');
    }

    &-switcher {
      margin-bottom: 4rem;
      background-color: v('off-white');
      border-radius: 1rem;
      display: flex;
      align-items: center;

      &__button {
        min-height: 5rem;
        text-align: center;
        flex: 1;
        padding: 1rem 1.5rem;
        position: relative;
        z-index: 3;
        cursor: pointer;

        &:before {
          content: '';
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          background-color: v('white');
          z-index: -1;
          box-shadow: 0 0 2rem 0 adjust-color(c('brand-water'), $alpha: -0.9);
          @include transition((opacity));
        }

        &--active {
          background-color: v('white');
          font-weight: v('semi');

          &:before {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}
