<header class='header'>
  <div class='top-nav'>
    <div class='container container--large'>
      <nav class='nav nav--secondary'>
        <a href='#0' class='nav__link'>
          (844) 4FJS
        </a>
        <a href='#0' class='nav__link'>
          Support
        </a>
        <a href='#0' class='nav__link'>
          Log In/Sign Up
        </a>
      </nav>
    </div>
  </div>
  <div class='main-nav'>
    <div class='container container--large'>
      <nav class='nav nav--main'>
        <div class='nav-left'>
          <a href='#0' class='nav__link nav__link--logo'>
            FingerPrintJS
          </a>
          <a href='#0' class='nav__link'>
            Docs
          </a>
          <a href='#0' class='nav__link'>
            Pricing
          </a>
        </div>
        <div class='nav-right'>
          {{> sections/_github-button }}
          <a href='#0' class='btn btn--outlined'>
            Contact Sales
          </a>
          <a href='#0' class='btn'>
            Free Trial
          </a>
          <button class='btn btn--clear btn--icon-only mobile-toggler'>
            <svg class='btn__icon'>
              <use xlink:href='#burger'></use>
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>
  <div class='mobile-nav'>
    <div class='container container--large'>
      <div class='top-links'>
        <a href='#0' class='btn btn--outlined'>
          Contact Sales
        </a>
        <a href='#0' class='btn'>
          Free Trial
        </a>
      </div>
      <div class='main-links'>
        <a href='#0' class='main-links__link'>
          Docs
        </a>
        <a href='#0' class='main-links__link'>
          Pricing
        </a>
      </div>
      <div class='contact-social'>
        {{> sections/_github-button }}
        <div class='social'>
          <small>
            Find us on social
          </small>
          <ul class='social-links'>
            <li class='social-links__link'>
              <a href='#0'>
                <svg>
                  <use xlink:href='#linkedin'></use>
                </svg>
              </a>
            </li>
            <li class='social-links__link'>
              <a href='#0'>
                <svg>
                  <use xlink:href='#twitter'></use>
                </svg>
              </a>
            </li>
            <li class='social-links__link'>
              <a href='#0'>
                <svg>
                  <use xlink:href='#medium'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='secondary-links'>
      <div class='container container--large'>
        <a href='#0' class='nav__link'>
          (844) 4FJS
        </a>
        <a href='#0' class='nav__link'>
          Support
        </a>
        <a href='#0' class='nav__link'>
          Log In/Sign Up
        </a>
      </div>
    </div>
  </div>
</header>