<div class='splide__slide live-demo--mobile'>
  <header class='live-demo__header'>
    <button class='btn btn--icon-only btn--clear btn--prev'>
      <svg class='btn__icon'>
        <use xlink:href='#chevron-left'></use>
      </svg>
    </button>
    <h3 class='live-demo__title'>
      Your Current Visit
    </h3>
    <button class='btn btn--icon-only btn--clear btn--next'>
      <svg class='btn__icon'>
        <use xlink:href='#chevron-right'></use>
      </svg>
    </button>
  </header>
  <div class='visit'>
    <div class='visit__id'>
      <div class='visit__label'>
        Your ID
        <svg
          class='info'
          data-tippy-content='Lorem ispum dolor sit amet'
          tabindex='0'
        >
          <use xlink:href='#info'></use>
        </svg>
      </div>
      <div class='visit__value'>
        QyDG8Zmc3tIKmfzHg00e
      </div>
    </div>
    <div class='visit__bot'>
      <div class='visit__label'>
        Bot
      </div>
      <div class='visit__value'>
        No
        <svg
          class='info'
          data-tippy-content='Lorem ispum dolor sit amet'
          tabindex='0'
        >
          <use xlink:href='#info'></use>
        </svg>
      </div>
    </div>
    <div class='visit__ip'>
      <div class='visit__label'>
        IP
      </div>
      <div class='visit__value'>
        79.166.60.76
      </div>
    </div>
    <div class='visit__incognito'>
      <div class='visit__label'>
        Incognito
      </div>
      <div class='visit__value'>
        No
        <svg
          class='info'
          data-tippy-content='Lorem ispum dolor sit amet'
          tabindex='0'
        >
          <use xlink:href='#info'></use>
        </svg>
      </div>
    </div>
    <div class='visit__browser'>
      <div class='visit__label'>
        Browser
      </div>
      <div class='visit__value'>
        Chrome 84.0.4147
                on Mac OS X (10.14.6)
      </div>
    </div>
    <div class='visit__location'>
      <div class='visit__label'>
        Location
      </div>
      <div class='visit__value'></div>
    </div>
  </div>
</div>