/*===============================================
=            Default Browser Styling            =
================================================*/

button {
  background: none;
  -webkit-appearance: none;
  border: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

/*=====  End of Default Browser Styling  ======*/

.btn {
  --height: 40px;
  --radius: 1rem;
  --color: var(--white);
  --bgColor: var(--brand-fire);
  --padding: 0 3rem;
  text-decoration: none;
  font-size: 1.75rem;
  color: v(color);
  background-color: v(bgColor);
  border-radius: v(radius);
  padding: v(padding);
  height: v(height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  font-weight: v(semi);
  white-space: nowrap;
  @include transition((background-color));
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: adjust-color(c('brand-fire'), $lightness: -20%);
  }

  &__label {
    text-decoration: none;
    font-size: 1.75rem;
    color: v(color);
    line-height: 1;
    user-select: none;
    font-weight: v(semi);
    white-space: nowrap;

    &--desktop-only {
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: v('color');

    &--mobile-only {
      display: inline-block;

      @media screen and (min-width: 640px) {
        display: none;
      }
    }
  }

  &--outlined {
    --bgColor: var(--transparent);
    --color: var(--brand-fire);
    box-shadow: inset 0 0 0 2px v('brand-fire');
    @include transition((box-shadow, color));

    &:focus,
    &:hover {
      background-color: v(bgColor);
      color: adjust-color(c('brand-fire'), $lightness: -20%);
      box-shadow: inset 0 0 0 2px adjust-color(c('brand-fire'), $lightness: -20%);
    }
  }

  &--clear {
    --padding: 0;
    --color: var(--brand-water);
    --bgColor: var(--transparent);
    width: v(height);
    @include transition((opacity));

    &:focus,
    &:hover {
      background-color: v('bgColor');
      opacity: v('extra-faded');
    }
  }

  &--github {
    --bgColor: var(--off-white);
    --color: #{adjust-color(c('brand-water'), $alpha: -0.5%)};
    --padding: 0;
    width: 132px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border: 1px solid adjust-color(c('off-white'), $lightness: -5%);
    overflow: hidden;

    &:focus,
    &:hover {
      background-color: adjust-color(c('off-white'), $lightness: -3%);
    }

    .btn__label {
      flex: 3;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      font-weight: v('bold');
    }

    .github-counter {
      flex: 2;
      height: 100%;
      background-color: v('white');
      color: adjust-color(c('brand-water'), $alpha: -0.4%);
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: v('bold');
    }

    .icon {
      width: 3rem;
      height: 3rem;
      fill: adjust-color(c('brand-water'), $alpha: -0.5%);
      margin-right: 1rem;
    }
  }
}
