strong {
  font-weight: 700 !important;
}

em {
  color: v('brand-fire');
  font-weight: v('semi');
  font-style: normal;
}

@for $i from 1 to 6 {
  h#{$i},
  .h#{$i} {
    font-family: v('ff-mono');
    font-weight: v(bold);
    margin: 0;
  }
}

h1,
.h1 {
  font-size: 4.5rem;
  line-height: 1.17;
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 1.333;
}

h3,
.h3 {
  font-size: 2.5rem;
  line-height: 1.4;
}

// h4,
// .h4 {
//   font-size: 1.125rem;
//   line-height: 1.333;
// }

p,
.p {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
}

// h5,
// .h5 {
//   font-size: 0.875rem;
//   line-height: 1.1428;
// }

// h6,
// .h6 {
//   font-size: 0.75rem;
//   line-height: 1.17;
// }

// small,
// .small {
//   font-size: 0.625rem;
//   line-height: 1.6;
//   -webkit-font-smoothing: subpixel-antialiased;
// }

code,
pre {
  font-family: var(--ff-mono);
  font-size: 2rem;
  font-weight: 500;

  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
