$colors: (
  'black': hsla(0, 0%, 0%, 1),
  'white': hsla(0, 0%, 100%, 1),
  'off-white': hsl(240, 24%, 96%),
  'transparent': hsla(0, 0%, 100%, 0),
  'error': hsl(358, 93%, 66%),
  'warning': hsl(42, 100%, 52%),
  'success': hsl(131, 70%, 46%),
);

$brand-colors: (
  'brand-fire': hsl(16, 96%, 48%),
  'brand-water': hsl(234, 52%, 11%),
);

$grid-base: 8px;

:root {
  // Generic Colors
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
  // Generic Colors
  @each $name, $color in $brand-colors {
    --#{$name}: #{$color};
  }

  // Transitions
  --t-normal: 250ms;

  // 8 point grid
  --grid-base: 8px;

  // Font Weights
  --light: 200;
  --normal: 400;
  --semi: 600;
  --bold: 700;

  // Opacities
  --faded: 0.72;
  --extra-faded: 0.55;
  --muted: 0.48;

  // Z-Indexes
  --z-header: 100;
  --z-mobile-menu: 300;
  --z-sections: 1;

  // Font Families
  --ff-sans: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --ff-mono: 'Fira Mono', monospace;
}
