<form action='#' class='form form--get-started'>
  <div class='field field-with-button'>
    <label for='email' class='label'>
      <input type='email' class='input' placeholder='Enter your email' />
    </label>
    <button class='btn submit' type='submit'>
      <span class='btn__label btn__label--desktop-only'>
        Get Started
      </span>
      <svg class='btn__icon btn__icon--mobile-only'>
        <use xlink:href='#chevron-right'></use>
      </svg>
    </button>
  </div>
  <div class='form-state form-state--success'>
    <svg class='form-state__icon'>
      <use xlink:href='#check'></use>
    </svg>
    <div class='form-state__label'>
      We sent you a link to start your trial
    </div>
  </div>
  <div class='form-state form-state--failed'>
    <svg class='form-state__icon'>
      <use xlink:href='#close'></use>
    </svg>
    <div class='form-state__label'>
      Submit failed. Please try again.
    </div>
  </div>
  <ul class='form-description'>
    <li>
      <svg>
        <use xlink:href='#check'></use>
      </svg>
      10 Days Trial
    </li>
    <li>
      <svg>
        <use xlink:href='#check'></use>
      </svg>
      Flexible
    </li>
    <li>
      <svg>
        <use xlink:href='#check'></use>
      </svg>
      API &amp; Webhooks
    </li>
  </ul>
</form>