<a
  class='btn btn--github'
  href='https://github.com/fingerprintjs/fingerprintjs2'
>
  <div class='btn__label'>
    <svg class='icon'>
      <use xlink:href='#github'></use>
    </svg>
    <span>
      Star
    </span>
  </div>
  <div class='github-counter'>
  </div>
</a>