<section class='section section--billing'>
  <div class='container container--large'>
    <header class='section-header'>
      <h2 class='section__title'>
        Predictable &amp; Transparent Billing
      </h2>
      <a href='#0' class='btn btn--outlined'>
        Detailed Pricing
      </a>
    </header>
    <div class='section-content'>
      <div class='identification-per-month'>
        <h3 class='identification-per-month__title'>
          Select your identifications per month
        </h3>
        <div class='slider'>
          <span class='slider-output'>
            1M
          </span>
          <label for='billingSlider' class='slider-label'>
            <span class='slider-label__text'>
              100K
            </span>
            <span class='slider-label__text'>
              250K
            </span>
            <span class='slider-label__text'>
              500K
            </span>
            <span class='slider-label__text'>
              1M
            </span>
            <span class='slider-label__text'>
              5M
            </span>
            <span class='slider-label__text'>
              10M
            </span>
            <span class='slider-label__text'>
              20M
            </span>
          </label>
          <div class='slider-input-container'>
            <input
              class='slider-input'
              type='range'
              min='0'
              max='6'
              name='billing-slider'
            />
          </div>
        </div>
        <p class='identification-per-month__footnote'>
          Our standard plan comes with 1 year visit history and email
                    support.
          <br />
          Contact sales for enterprise support license and
                    secure unlimited visit history and 24/7 dedicated support.
        </p>
      </div>
      <div class='payment'>
        <div class='payment-per-month'>
          <span class='price'>
            $800
          </span>
          per month
        </div>
        <div class='billed'>
          billed yearly
        </div>
        <div class='payment-switcher' data-type='annually'>
          <button
            class='payment-switcher__button payment-switcher__button--annually payment-switcher__button--active'
            data-type='annually'
          >
            Pay Annually
          </button>
          <button
            class='payment-switcher__button payment-switcher__button--monthly'
            data-type='monthly'
          >
            Pay Monthly
          </button>
        </div>
        <p class='payment__description'>
          You get annual payment benefits Switch to annual to get
          <strong>
            20% Discount roll-over
          </strong>
          of unused monthly API
                    calls
        </p>
      </div>
    </div>
    <div class='section-link'>
      <a href='#0' class='btn btn--outlined'>
        Detailed Pricing
      </a>
    </div>
  </div>
</section>