<section class="section section--flexible-api">
    <div class="container container--large">
        <header class="section-header">
            <h2 class="section__title">Flexible<br />Server API</h2>
            <div class="tools-integrations">
                <div class="tools-integrations-item">
                    <div class="tools-integrations-item__icon-container">
                        <svg class="tools-integrations-item__icon">
                            <use xlink:href="#tools"></use>
                        </svg>
                    </div>
                    <h3 class="tools-integrations-item__title">
                        &gt; Tools for every stack
                    </h3>
                    <p class="tools-integrations-item__description">
                        We offer client and server libraries in everything from React to
                        PHP to .NET and iOS
                    </p>
                </div>
                <div class="tools-integrations-item">
                    <div class="tools-integrations-item__icon-container">
                        <svg class="tools-integrations-item__icon">
                            <use xlink:href="#integrations"></use>
                        </svg>
                    </div>
                    <h3 class="tools-integrations-item__title">
                        &gt; Great Integrations
                    </h3>
                    <p class="tools-integrations-item__description">
                        Improve accuracy with CNAME, safari identification with
                        cloudflare and Matomo Analytics
                    </p>
                </div>
            </div>
        </header>
        <div class="section-content">
            <div class="window">
                <div class="window-header">
                    <div class="window-header__btn window-header__btn--close"></div>
                    <div class="window-header__btn window-header__btn--minimize"></div>
                    <div class="window-header__btn window-header__btn--expand"></div>
                </div>
                <div class="window-content">{{> sections/_code }}</div>
            </div>
            <div class="window">
                <div class="window-content">{{> sections/_code }}</div>
            </div>
        </div>
    </div>
</section>