<section class='section section--pro-tools'>
  <div class='container'>
    <header class='section-header'>
      <h2 class='section__title'>
        FingerprintJS
        <br />
        <strong>
          Pro Tools
        </strong>
      </h2>
    </header>
    <div class='section-content splide splide--pro-tools'>
      <div class='splide__track'>
        <div class='splide__list'>
          <div class='splide__slide pro-tools-item'>
            <svg class='pro-tools-item__icon'>
              <use xlink:href='#browser_fingerprinting'></use>
            </svg>
            <h3 class='pro-tools-item__title'>
              Browser Fingerprinting
            </h3>
            <p class='pro-tools-item__description'>
              Generate the highest entropy browser fingerprint on the market
            </p>
            <a href='#0' class='pro-tools-item__link'>
              Learn More
            </a>
          </div>
          <div class='splide__slide pro-tools-item'>
            <svg class='pro-tools-item__icon'>
              <use xlink:href='#geolocation'></use>
            </svg>
            <h3 class='pro-tools-item__title'>
              Geolocation
            </h3>
            <p class='pro-tools-item__description'>
              Determine where your users are located
            </p>
            <a href='#0' class='pro-tools-item__link'>
              Learn More
            </a>
          </div>
          <div class='splide__slide pro-tools-item'>
            <svg class='pro-tools-item__icon'>
              <use xlink:href='#bot_detection'></use>
            </svg>
            <h3 class='pro-tools-item__title'>
              Bot Detection
            </h3>
            <p class='pro-tools-item__description'>
              Detect JavaScript Bots
            </p>
            <a href='#0' class='pro-tools-item__link'>
              Learn More
            </a>
          </div>
          <div class='splide__slide pro-tools-item'>
            <svg class='pro-tools-item__icon'>
              <use xlink:href='#anonymous_user_identification'></use>
            </svg>
            <h3 class='pro-tools-item__title'>
              Anonymous User Identification
            </h3>
            <p class='pro-tools-item__description'>
              Track bad users even when they try to stay anonymous
            </p>
            <a href='#0' class='pro-tools-item__link'>
              Learn More
            </a>
          </div>
          <div class='splide__slide pro-tools-item'>
            <svg class='pro-tools-item__icon'>
              <use xlink:href='#incognito_detection'></use>
            </svg>
            <h3 class='pro-tools-item__title'>
              Incognito Mode Detection
            </h3>
            <p class='pro-tools-item__description'>
              Track users across incognito browsing sessions with the newest methods
            </p>
            <a href='#0' class='pro-tools-item__link'>
              Learn More
            </a>
          </div>
          <div class='splide__slide pro-tools-item'>
            <svg class='pro-tools-item__icon'>
              <use xlink:href='#api_Webhooks'></use>
            </svg>
            <h3 class='pro-tools-item__title'>
              API & Webhooks
            </h3>
            <p class='pro-tools-item__description'>
              Create automated workflows using our server API and webhooks
            </p>
            <a href='#0' class='pro-tools-item__link'>
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>