<section class="section section--stay-protected">
    <div class="container">
        <header class="section-header">
            <h2 class="h1 section__title">
                Stay <strong>protected</strong> and
                <strong>one step ahead</strong> of malicious users with
                FingerprintJS Pro
            </h2>
            <p class="section__subtitle">
                Starting today is better than starting tomorrow
            </p>
            {{> sections/_get-started-form }}
        </header>
    </div>
</section>