<section class='section section--use-cases'>
  <div class='container'>
    <header class='section-header'>
      <h2 class='section__title'>
        Stop fraud, spam and account takeover with
        <em>
          <strong>
            99.5% accurate
          </strong>
        </em>
        browser fingerprinting as a
                service
      </h2>
      <p class='section__description'>
        <strong>
          Some
        </strong>
        FingerPrintJS Use Cases
      </p>
    </header>
    <div class='section-content'>
      <div class='use-cases'>
        <div class='use-case use-case--large'>
          <div class='use-case__icon-container'>
            <svg class='use-case__icon'>
              <use xlink:href='#account_fraud'></use>
            </svg>
          </div>
          <div class='use-case-info'>
            <h3 class='use-case__title'>
              Account Fraud
            </h3>
            <p class='use-case__description'>
              Confirm that every account on your website is real and not an
                            advanced bot using multiple techniques to create fake accounts.
            </p>
          </div>
        </div>
        <div class='use-case use-case--large'>
          <div class='use-case__icon-container'>
            <svg class='use-case__icon'>
              <use xlink:href='#payment_processing'></use>
            </svg>
          </div>
          <div class='use-case-info'>
            <h3 class='use-case__title'>
              Payment Processing
            </h3>
            <p class='use-case__description'>
              Users know how to get unlimited views of your content with incognito windows. Make sure that users pay a fair price for your content.
            </p>
            <a href='#0' class='use-case__link'>
              Learn More
            </a>
          </div>
        </div>
        <div class='use-case'>
          <div class='use-case__icon-container'>
            <svg class='use-case__icon'>
              <use xlink:href='#commerce'></use>
            </svg>
          </div>
          <div class='use-case-info'>
            <h3 class='use-case__title'>
              E-Commerce
            </h3>
            <p class='use-case__description'>
              Every fraudulent order is money directly out of your pocket. With our best in class tools you can stop malicious users before they cost you real money.
            </p>
          </div>
        </div>
        <div class='use-case'>
          <div class='use-case__icon-container'>
            <svg class='use-case__icon'>
              <use xlink:href='#cryptocurrency'></use>
            </svg>
          </div>
          <div class='use-case-info'>
            <h3 class='use-case__title'>
              Cryptocurrency
            </h3>
            <p class='use-case__description'>
              Ensure that your trading, exchange and transfer operations are
                            safe from malicious activity or account fraud.
            </p>
          </div>
        </div>
        <div class='use-case'>
          <div class='use-case__icon-container'>
            <svg class='use-case__icon'>
              <use xlink:href='#gaming'></use>
            </svg>
          </div>
          <div class='use-case-info'>
            <h3 class='use-case__title'>
              Gaming
            </h3>
            <p class='use-case__description'>
              Catch users trying to break your system via multiple accounts, devices, and IP addresses to unjustly enrich themselves.
            </p>
          </div>
        </div>
        <div class='use-case'>
          <div class='use-case__icon-container'>
            <svg class='use-case__icon'>
              <use xlink:href='#custom_solution'></use>
            </svg>
          </div>
          <div class='use-case-info'>
            <h3 class='use-case__title'>
              Custom Solution
            </h3>
            <p class='use-case__description'>
              We can build a custom solution that works for your industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>